table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even){
    background-color: rgb(198, 198, 198);
}

tr:nth-child(odd){
    background-color: rgb(56, 56, 255);
}